<div
  id="edit-modal"
  class="fixed inset-0 flex hidden items-center justify-center bg-gray-800 bg-opacity-50"
>
  <div
    class="scrollbar-hidden relative mx-auto max-h-[58vh] w-[480px] overflow-y-auto rounded-lg bg-white shadow-lg"
  >
    <div class="sticky top-0 border-b bg-white">
      <div class="flex p-8">
        <h2 class="text-2xl">Edit Admin</h2>
        <button class="close ml-auto text-gray-400 hover:text-gray-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="pb-4 pl-8 pr-8">
      <h3 class="pb-4 text-xl">Account</h3>
      <div class="pb-4">
        <label for="editName" class="text-sm">Name</label>
        <input
          type="text"
          id="editName"
          class="h-[51px] w-full bg-light-bg p-4"
          value="Emir Wicks"
        />
      </div>
      <div class="border-b pb-5">
        <label for="editEmail" class="text-sm">Email</label>
        <input
          type="email"
          id="editEmail"
          class="h-[51px] w-full bg-light-bg p-4"
          value="emir.wicks@mail.com"
        />
      </div>
      <h3 class="pb-5 pt-5 text-xl">Verification</h3>
      <div class="flex items-center pb-4">
        <span class="material-icons pr-2 text-primary"> check_circle </span>
        <p class="font-bold">Verified</p>
        <time datetime="2020/4/12" class="ml-auto text-sm text-text"
          >2020/4/12</time
        >
      </div>
      <div class="border-b pb-5">
        <a
          href="#"
          class="flex h-[51px] cursor-not-allowed items-center justify-center border border-border-line text-[#CED4DA]"
          >Send Verification Mail</a
        >
      </div>
      <h3 class="pb-4 pt-5 text-xl">Access Level</h3>
      <div class="border-b pb-5">
        <select
          name="level"
          id="level"
          class="w-full border border-border-line p-4"
        >
          <option value="Admin" class="text-secondary">Admin</option>
          <option value="-Choose access level-" class="text-secondary">
            -Choose access level-
          </option>
        </select>
      </div>
      <h3 class="pb-5 pt-5 text-xl">Custom Access</h3>
      <ul class="border-b pb-5">
        <li class="pb-4">
          <input
            type="checkbox"
            name="editLecture"
            id="editLecture"
            class="h-4 w-4"
          />
          <label for="editLecture" class="pl-2">Lecture</label>
        </li>
        <li class="pb-4">
          <input
            type="checkbox"
            name="editCoupon"
            id="editCoupon"
            class="h-4 w-4"
          />
          <label for="editCoupon" class="pl-2">Coupon</label>
        </li>
        <li class="pb-4">
          <input
            type="checkbox"
            name="editMessage"
            id="editMessage"
            class="h-4 w-4"
          />
          <label for="editMessage" class="pl-2">Message</label>
        </li>
        <li class="pb-4">
          <input
            type="checkbox"
            name="editSetting"
            id="editSetting"
            class="h-4 w-4"
          />
          <label for="editSetting" class="pl-2">Setting</label>
        </li>
        <li class="pb-4">
          <input
            type="checkbox"
            name="editTaskMenu"
            id="editTaskMenu"
            class="h-4 w-4"
          />
          <label for="editTaskMenu" class="pl-2">Task Menu</label>
        </li>
      </ul>
      <h3 class="pb-4 pt-5 text-xl">Deactivate Account</h3>
      <div class="flex pb-4">
        <span class="material-icons pr-2 text-danger"> warning </span>
        <p class="text-danger">This cannot be undone!</p>
      </div>
      <div>
        <button
          type="button"
          class="flex h-[51px] w-full items-center justify-center border border-danger text-danger"
        >
          Deactivate This Account
        </button>
      </div>
    </div>

    <div class="sticky bottom-0 bg-white">
      <div class="flex justify-end border-t border-border-line py-4 pr-8">
        <button
          type="button"
          class="close mr-4 flex h-[35px] w-[146px] items-center justify-center border border-primary font-bold text-primary"
        >
          Cancel
        </button>
        <button
          type="button"
          class="flex h-[35px] w-[92px] items-center justify-center bg-primary font-bold text-white"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
