<div
  id="new-modal"
  class="fixed inset-0 flex hidden items-center justify-center bg-gray-800 bg-opacity-50"
>
  <div
    class="relative mx-auto max-h-[58vh] w-[480px] overflow-y-auto rounded-lg bg-white shadow-lg"
  >
    <div class="sticky top-0 border-b bg-white">
      <div class="flex p-8">
        <h2 class="text-2xl">New Admin</h2>
        <button class="close ml-auto text-gray-400 hover:text-gray-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="pb-4 pl-8 pr-8">
      <h3 class="pb-4 text-xl">Account</h3>
      <div class="pb-4">
        <label for="name" class="text-sm">Name</label>
        <input
          type="text"
          id="name"
          class="h-[51px] w-full border border-black p-4"
        />
      </div>
      <div class="border-b pb-5">
        <label for="Email" class="text-sm">Email</label>
        <input
          type="email"
          id="Email"
          class="h-[51px] w-full border border-black p-4"
        />
      </div>
      <h3 class="pb-5 pt-5 text-xl">Verification</h3>
      <div class="flex pb-4">
        <span class="material-icons pr-2 text-danger"> warning </span>
        <p class="font-bold">Unverified</p>
      </div>
      <div class="border-b pb-5">
        <a
          href="#"
          class="flex h-[51px] items-center justify-center border border-border-line text-primary"
          >Send Verification Mail</a
        >
      </div>
      <h3 class="pb-4 pt-5 text-xl">Access Level</h3>
      <div class="border-b pb-5">
        <select
          name="level"
          id="level"
          class="w-full border border-border-line p-4"
        >
          <option value="-Choose access level-" class="text-secondary">
            -Choose access level-
          </option>
          <option value="-Choose access level-" class="text-secondary">
            Admin
          </option>
        </select>
      </div>
      <h3 class="pb-5 pt-5 text-xl">Custom Access</h3>
      <ul>
        <li class="pb-4">
          <input type="checkbox" name="Lecture" id="Lecture" class="h-4 w-4" />
          <label for="Lecture" class="pl-2">Lecture</label>
        </li>
        <li class="pb-4">
          <input type="checkbox" name="Coupon" id="Coupon" class="h-4 w-4" />
          <label for="Coupon" class="pl-2">Coupon</label>
        </li>
        <li class="pb-4">
          <input type="checkbox" name="Message" id="Message" class="h-4 w-4" />
          <label for="Message" class="pl-2">Message</label>
        </li>
        <li class="pb-4">
          <input type="checkbox" name="Setting" id="Setting" class="h-4 w-4" />
          <label for="Setting" class="pl-2">Setting</label>
        </li>
        <li class="pb-4">
          <input
            type="checkbox"
            name="Task Menu"
            id="Task Menu"
            class="h-4 w-4"
          />
          <label for="Task Menu" class="pl-2">Task Menu</label>
        </li>
      </ul>
    </div>

    <div class="sticky bottom-0 bg-white">
      <div class="flex justify-end border-t border-border-line py-4 pr-8">
        <button
          type="button"
          class="close mr-4 flex h-[35px] w-[146px] items-center justify-center border border-primary font-bold text-primary"
        >
          Cancel
        </button>
        <button
          type="button"
          class="flex h-[35px] w-[92px] items-center justify-center bg-primary font-bold text-white"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>
