<div
  class="flex flex-col rounded-t-sm border border-border-line bg-light-bg px-4 py-3"
>
  <span class="text-xs text-text">Chapter Assignment 2 / HTML&CSS</span>
  <span>Please check this file for me, thanks!</span>
  <a href="#">
    <span class="material-symbols-outlined absolute right-[17px] top-[20px]">
      more_vert
    </span>
  </a>
</div>
<div class="flex items-center border-l border-r border-border-line p-4">
  <img
    src="https://images.unsplash.com/photo-1504051771394-dd2e66b2e08f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2134&q=80"
    alt=""
    class="mr-2 h-10 w-10 rounded-full"
  />
  <div>
    <p class="leading-[19px] text-text">Emily Wang</p>
    <time datetime="10:38" class="text-secondary text-xs"
      >10:38 AM (4 hours ago)</time
    >
  </div>
</div>
<article class="border-l border-r border-border-line pb-4 pl-[64px] pr-8">
  <p class="text-sm">
    Hi Teacher, the attached file is my homework of chapter 2. And here comes a
    question: Why in the following code the height of the
    <span class="bg-light-bg text-primary">div</span> is bigger than the height
    of the <span class="bg-light-bg text-primary">img</span> ? There is a gap
    below the image, but it doesn’t seems to be a padding/margin.
    <br />
    What is the gap or extra space below image?
  </p>
</article>
<div class="border-l border-r border-border-line pb-4 pl-[64px] pr-8">
  <a
    href="#"
    class="flex w-44 justify-center border border-border-line bg-light-bg py-2"
    ><span class="material-icons"> attach_file </span>HW-2-David.zip</a
  >
  <div class="border-b border-border-line pb-4"></div>
</div>
