<div class="mr-4 w-80">
  <ul>
    <li
      class="rounded-t-sm border-l border-r border-t border-border-line bg-light-bg p-3"
    >
      <a href="#">
        <div class="flex text-xs">
          <p class="mr-auto">Chapter Assignment 2</p>
          <time datetime="4">4 hrs ago</time>
        </div>
        <div class="flex items-center">
          <p class="mr-auto">Please check this file…</p>
          <p class="text-secondary text-xs">Emily Wang</p>
        </div>
      </a>
    </li>
    <li class="border-l border-r border-t border-border-line p-3">
      <a href="#">
        <div class="flex text-xs">
          <p class="mr-auto">Chapter Assignment 1</p>
          <time datetime="12">12 hrs ago</time>
        </div>
        <div class="flex items-center">
          <p class="mr-auto">My Homework</p>
          <p class="text-secondary text-xs">David Xu</p>
        </div>
      </a>
    </li>
    <li class="border-l border-r border-t border-border-line p-3">
      <a href="#">
        <div class="flex text-xs">
          <p class="mr-auto">Final Assignment</p>
          <time datetime="18">18 hrs ago</time>
        </div>
        <div class="flex items-center">
          <p class="mr-auto">Have a problem with this…</p>
          <p class="text-secondary text-xs">Tony Wei</p>
        </div></a
      >
    </li>
    <li
      class="rounded-b-sm border-b border-l border-r border-t border-border-line p-3"
    >
      <a href="#">
        <div class="flex text-xs">
          <p class="mr-auto">Final Assignment</p>
          <time datetime="19">19 hrs ago</time>
        </div>
        <div class="flex items-center">
          <p class="mr-auto">Did I do it right?</p>
          <p class="text-secondary text-xs">Christina Lin</p>
        </div></a
      >
    </li>
  </ul>
</div>
