<div class="flex justify-end">
  <ul class="flex pt-16 text-primary">
    <li class="border-b border-l border-t border-primary">
      <a
        href="#"
        class="flex h-8 w-8 items-center justify-center hover:bg-primary hover:text-white"
        ><span class="material-symbols-outlined"> chevron_left </span></a
      >
    </li>
    <li class="border-b border-l border-t border-primary">
      <a
        href="#"
        class="flex h-8 w-8 items-center justify-center bg-primary text-white"
        >1</a
      >
    </li>
    <li class="border-b border-l border-t border-primary">
      <a
        href="#"
        class="flex h-8 w-8 items-center justify-center hover:bg-primary hover:text-white"
        >2</a
      >
    </li>
    <li class="border-b border-l border-t border-primary">
      <a
        href="#"
        class="flex h-8 w-8 items-center justify-center hover:bg-primary hover:text-white"
        >3</a
      >
    </li>
    <li class="border-b border-l border-r border-t border-primary">
      <a
        href="#"
        class="flex h-8 w-8 items-center justify-center hover:bg-primary hover:text-white"
        ><span class="material-symbols-outlined"> chevron_right </span></a
      >
    </li>
  </ul>
</div>
